.form {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;

  &-input {
    height: 20px;
    width: 20%;
    padding-left: 10px;
  }
}

.burgers-block {
  display: flex;
  justify-content: center;
}
